{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="dashboard_page">
    <div class="dashboard_title">
        Dashboard
    </div>
    {% if error %}
            <p style="color : red ; margin: 10px 15px;font-family: Arial, Helvetica, sans-serif;">{{error}}</p>
    {% endif %}
    <div class="dash_board_data">
        {% if data %}
        <script>
            var date = '{{ test.date }}';
            var students = '{{ test.students }}';
            var intrusion = '{{ test.intrusion }}';
            var pie_students = '{{pie.students}}'
            var pie_intrusion = '{{pie.intrusion}}'
        </script>
        <div class="data_total">
            <div class="data_total_info">
                <div class="data_total_value">TOTAL PERSON DETECTE</div>
                <div class="data_total_amount"><h6>{{ data.total }} P</h6></div>
            </div>
            <img src="{% static 'IMAGES/user.png' %}">
        </div>
        <div class="data_normal">
            <div class="data_total_info">
                <div class="data_total_value">TOTAL STUDENT DETECTE</div>
                <div class="data_total_amount"><h6 style="color: skyblue;">{{ data.students }} P</h6></div>
            </div>
            <img src="{% static 'IMAGES/people.png' %}">
        </div>
        <div class="data_intrue">
            <div class="data_total_info">
                <div class="data_total_value">TOTAL INTRUE DETECTE</div>
                <div class="data_total_amount"><h6 style="color: lightcoral;">{{ data.intrusion }} P</h6></div>
            </div>
            <img src="{% static 'IMAGES/target.png' %}">
        </div>
        <div class="data_average">
            <div class="data_total_info">
                <div class="data_total_value">TOTAL AVERAGE PEOPLE</div>
                <div class="data_total_amount"><h6 style="color: rgb(228, 134, 26);">{{ data.avreage }} %</h6></div>
            </div>
            <img src="{% static 'IMAGES/average.png' %}">
        </div>
        {% endif %}
    </div>
    <div class="dashboard_graph">
        {% if test %}
            <div class="plot_graph">
                <canvas style="margin-top : 15px;margin-left: 10px; margin-right: 10px;" id="myChart" width="380" height="230"></canvas>
            </div>
        {% endif %}
        {% if pie %}
            <div class="pie_graph">
                <canvas style="margin-top : 10px" id="mypie" width="380" height="220"></canvas>
            </div>
        {% endif %}
    </div>
</div>
<script src="{% static 'JS/chart.js' %}"></script>
{% endblock content%}