{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="dashboard_page">
    <div class="dashboard_title">
        Dashboard
    </div>
    {% if error %}
            <p style="color : red ; margin: 10px 15px;font-family: Arial, Helvetica, sans-serif;">{{error}}</p>
    {% endif %}
    <div class="dash_board_data">
        {% if data %}
        <div class="data_total">
            <div class="data_total_info">
                <div class="data_total_value">TOTAL PERSON DETECTED</div>
                <div class="data_total_amount"><h6>{{ data.total }} P</h6></div>
            </div>
            <img src="{% static 'IMAGES/user.png' %}">
        </div>
        <div class="data_normal">
            <div class="data_total_info">
                <div class="data_total_value">TOTAL NORMAL DETECTED</div>
                <div class="data_total_amount"><h6 style="color: rgb(30, 194, 30);">{{ data.students }} P</h6></div>
            </div>
            <img src="{% static 'IMAGES/people.png' %}">
        </div>
        <div class="data_intrue">
            <div class="data_total_info">
                <div class="data_total_value">TOTAL INTRUE DETECTED</div>
                <div class="data_total_amount"><h6 style="color: rgb(255, 35, 35);">{{ data.intrusion }} P</h6></div>
            </div>
            <img src="{% static 'IMAGES/target.png' %}">
        </div>
        <div class="data_average">
            <div class="data_total_info">
                <div class="data_total_value">TOTAL AVERAGE PEOPLE</div>
                <div class="data_total_amount"><h6 style="color: rgb(228, 134, 26);">{{ data.avreage }} %</h6></div>
            </div>
            <img src="{% static 'IMAGES/average.png' %}">
        </div>
        {% endif %}
    </div>
    <div class="dashboard_graph">
        <div class="plot_graph">
            <img src="{% static 'EXCEL/plot.png' %}">
        </div>
        <div class="pie_graph">
            <img src="{% static 'EXCEL/pie.png' %}">
        </div>
    </div>
</div>
{% endblock content%}