{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'IMAGES/logo.png' %}" type="images/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/app.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/compenents.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/manage_account.css' %}">
    {% if title %}
        <title>SAFETY-{{title}}</title>
    {% endif %}
</head>
<body>
    <div class="app_home_page">
        <div class="app_border"></div>
        <div class="app_home_settings">
            <a style="text-decoration: none;" href="{% url 'safety-app' %}">
                <div class="app_settings_dashboard">
                    <img style="width: 20px;margin-right: 15px;" src="{% static 'LOGO/rom.png' %}">
                    <div class="app_dashboard_info">
                        Dashboard Access
                    </div>
                </div>
            </a>
            <a style="text-decoration: none;" href="{% url 'safety-compenents' %}">
                <div class="app_settings_components">
                    <img style="width: 20px;margin-right: 15px;" src="{% static 'LOGO/web.png' %}">
                    <div class="app_compenents_info">
                        System Compenents
                    </div>
                </div>
            </a>    
            <!-- <a href="#">
                <div class="app_settings_layout">
                    <img style="width: 20px;margin-right: 15px;" src="{% static 'LOGO/dashboard.png' %}">
                    <div class="app_layout_info">
                        Layout Layers
                    </div>
                </div>
            </a> -->
            <a href="{% url 'safety-manage-account' %}">
                <div class="app_settings_accounts">
                    <img style="width: 20px;margin-right: 15px;" src="{% static 'LOGO/user.png' %}">
                    <div class="app_accounts_info">
                        Manage Account
                    </div>
                </div>
            </a>
        </div>
        <div class="app_home_content">
            <div class="app_content_header">
                <div class="app_header_img">
                    <img src="{% static 'IMAGES/design.png' %}">
                </div>
                <div class="app_header_setting">
                    <img style="width: 24px; height: 24px;" src="{% static 'IMAGES/notification.png' %}">
                    <img style="width: 24px; height: 24px;" src="{% static 'IMAGES/settings.png' %}">
                    <img style="cursor: pointer;" onclick="show_bar()" src="{% static 'IMAGES/account.png' %}">
                </div>
            </div>
            <div class="account_bar">
                <div class="account_bar_border" id="account_bar_border">
                    <div class="account_bar_img">
                        <img style="width: 45px; height: 45px;" src="{% static 'IMAGES/account.png' %}">
                    </div>
                    <div class="account_bar_info">
                        <h4>{{user.first_name}} {{user.last_name}}</h4>
                        <h5>{{user.email}}</h5>
                    </div>
                    <div class="account_bar_set">
                        <a href="{% url 'safety-manage-account' %}">
                            <div class="bar_setting">
                                <img style="margin-left: 13px; width: 18px; height: 18px;" src="{% static 'LOGO/edit.png' %}">
                                <h5>Edit Profile</h5>
                            </div>
                        </a>
                        <a href="{% url 'safety-log-out' %}">
                            <div class="bar_log_out">
                                <img style="margin-left: 13px; width: 18px; height: 18px;" src="{% static 'LOGO/log-out.png' %}">
                                <h5>Log Out</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Here our application start -->
                {% block content %}
                {% endblock content%}
            <!-- Here our application end -->




            <div class="app_content_footer">
                <div class="app_footer_img">
                    <img src="{% static 'IMAGES/design.png' %}">
                </div>
                <div class="app_footer_name">
                    Made by <p style="color: #0e7490; margin-left: 10px;"> EST &copy; Essaouira</p> 
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'JS/script.js' %}"></script>
</body>
</html>