{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="compenents_page">
    <div class="compenents_page_title">
        Storage Of <p style="color : #e93e3e ;margin-left: 8px;" > New Inture Detection</p> 
    </div>
    <div class="compenents_page_system">
        <h3>
            <a href="{% url 'safety-compenents' %}">Detected Student</a>
            <a href="{% url 'safety-intrue' %}">Detected Intrue</a>
            <a href="{% url 'safety-new-intrue' %}">New Detected</a>
        </h3>
    </div>
    {% if message %}
        <p style="color: green; margin-left: 28px; font-size: 14px; margin-top: 20px; margin-bottom: -20px; font-family: Arial, Helvetica, sans-serif;">{{message}}</p>
    {% endif %}
    <div class="compenents_page_data">
        <div class="compenents_data_system">
            <div style="margin-left: -460px;" class="compenents_system_header">
                <h3><div class="system_header_name">Classification Of New Intrue Detection</div></h3>
            </div>
            <div class="compenents_system_title">
                <div style="margin-left: -130px;" class="system_title_name">Name</div>
                <div style="margin-right: -100px;" class="system_title_size">Size</div>
                <div style="margin-right: -100px;" class="system_title_type">Type</div>
                <div style="margin-right: -100px;" class="system_title_type">Submit</div>
            </div>
            <div class="compenents_system_data_new">
                {% if image %}
                    {% for i in image %}
                        <div onclick="show(`{{i.url}}`)" class="system_new_all" id="system_data_all_intrue">
                            <div class="system_new_name">
                                <img style="width: 20px; height: 20px; margin-right: 10px;" src="{% static 'IMAGES/insert-picture-icon.png' %}">
                                {{ i.name }}
                            </div>
                            <div class="system_data_size">{{i.size.0}}p x {{i.size.1}}p</div>
                            <div class="system_data_type">image/png</div>
                            <form action="{% url 'safety-new-intrue' %}" method="POST">
                                {% csrf_token %}
                                <input name="name" style="position: fixed; visibility: hidden;" type="text" value="{{ i.name }}">
                                <input style="margin-right: 10px;" name="send" type="submit" value="Students">
                                <input type="submit" name="send" value="Intrues">
                            </form>
                        </div>
                    {% endfor %}
                {% endif %} 
            </div>
        </div>
    </div>
</div>
<script src="{% static 'JS/new_script.js' %}"></script>
{% endblock content%}