{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'IMAGES/logo.png' %}" type="images/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    {% if title %}
        <title>SAFETY-{{title}}</title>
    {% endif %}
</head>
<body>
    <div class="home_login_page">
        <div class="login_form">
            <a style="text-decoration: none;" href="{% url 'safety-log-in' %}">
                <div class="login_form_title">
                    <h1>SAFETY</h1>
                    <img src="{% static 'IMAGES/logo.png' %}">
                </div>
            </a>
            <div class="login_form_input" style="height: 50%;">
                <h1 style="margin-bottom: 10px; margin-top: 10px;" >Reset Password</h1>
                <form method='POST' action="{% url 'safety-reset-password' %}">
                    {% if message %}
                        <h3 style="margin-left: 55px; color: red; font-family: Arial, Helvetica, sans-serif; font-size: 10px;">Invalid !! Please Check Your Information and Try again</h3>
                    {% elif messages %}
                        <h3 style="margin-left: 55px; color: green; font-family: Arial, Helvetica, sans-serif; font-size: 10px;">{{messages}}</h3>
                    {% endif %}
                    {% csrf_token %}
                    <input name="change_me" type="email" placeholder="Your Email" required>
                    <input type="submit" value="Login"><br>
                </form>
            </div>
        </div>
    </div>    
</body>
</html>